html,body{
    border:none; padding:0; margin:0;
    background:#FFFFFF;
    color:#000000;
    
}
html{
    background-color: #bcbcbc;
    font-family: "Segoe UI","Roboto",sans-serif;
    background-image: url("bg01-01.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgb(43,62,80);
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background-size: cover;
    background-position: center center;
}
body{
    text-align:center;
    font-family:"Roboto",sans-serif;
    background-color:#ececec;
    box-sizing:border-box;
    width:100%;
    max-width:40em;
    margin:4em auto;
    box-shadow:0 1em 6em #00000080;
    padding:1em 1em 4em 1em;
    border-radius:0.4em;
}
h1{
    color:#020202;
}
#startStopBtn{
    display:inline-block;
    margin:0 auto;
    color:#9560aa;
    background-color:rgba(0,0,0,0);
    border:0.15em solid #9560aa;
    border-radius:0.3em;
    transition:all 0.3s;
    box-sizing:border-box;
    width:8em; height:3em;
    line-height:2.7em;
    cursor:pointer;
    box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
}
#startStopBtn:hover{
    box-shadow: 0 0 2em rgba(0,0,0,0.1), inset 0 0 1em rgba(0,0,0,0.1);
}
#startStopBtn.running{
    background-color:#FF3030;
    border-color:#FF6060;
    color:#FFFFFF;
}
#startStopBtn:before{
    content:"Start";
}
#startStopBtn.running:before{
    content:"Abort";
}
#test{
    margin-top:2em;
    margin-bottom:12em;
}
div.testArea{
    display:inline-block;
    width:16em;
    height:12.5em;
    position:relative;
    box-sizing:border-box;
}
div.testArea2{
    display:inline-block;
    width:14em;
    height:7em;
    position:relative;
    box-sizing:border-box;
    text-align:center;
}
div.testArea div.testName{
    position:absolute;
    top:0.1em; left:0;
    width:100%;
    font-size:1.4em;
    z-index:9;
}
div.testArea2 div.testName{
    display:block;
    text-align:center;
    font-size:1.4em;
}
div.testArea div.meterText{
    position:absolute;
    bottom:1.55em; left:0;
    width:100%;
    font-size:2.5em;
    z-index:9;
}
div.testArea2 div.meterText{
    display:inline-block;
    font-size:2.5em;
}
div.meterText:empty:before{
    content:"0.00";
}
div.testArea div.unit{
    position:absolute;
    bottom:2em; left:0;
    width:100%;
    z-index:9;
}
div.testArea2 div.unit{
    display:inline-block;
}
div.testArea canvas{
    position:absolute;
    top:0; left:0; width:100%; height:100%;
    z-index:1;
}
div.testGroup{
    display:block;
    margin: 0 auto;
}
#shareArea{
    width:95%;
    max-width:40em;
    margin:0 auto;
    margin-top:2em;
}
#shareArea > *{
    display:block;
    width:100%;
    height:auto;
    margin: 0.25em 0;
}
#privacyPolicy{
    position:fixed;
    top:5em;
    bottom:20em;
    left:20em;
    right:20em;
    overflow-y:auto;
    width:auto;
    height:auto;
    box-shadow:0 0 3em 1em #000000;
    z-index:999999;
    text-align:left;
    background-color:#e6e6e6;
    padding:1em;
}
a.privacy{
    text-align:center;
    font-size:0.8em;
    padding: 0 3em;
}
div.closePrivacyPolicy {
    width: 100%;
    text-align: center;
}
div.closePrivacyPolicy a.privacy {
    padding: 1em 3em;
}
@media all and (max-width:40em){
    body{
        font-size:0.8em;
    }
}

button {
	border-radius: 10px;
	border: 1px solid #a64bb8;
	background-color: #a64bb8;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.8);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media all and (max-width:65em){
    body{
        font-size:1.5vw;
    }
}
@media all and (max-width:40em){
    body{
        font-size:0.8em;
    }
    div.testGroup{
        display:block;
        margin: 0 auto;
    }
}
#progressBar{
    width:30%;
    height:0.3em;
    background-color:#EEEEEE;
    position:relative;
    display:block;
    margin:0 auto;
    margin-bottom:2em;
}
#progress{
    position:absolute;
    top:0; left:0;
    height:100%;
    width:0%;
    transition: width 2s;
    background-color:#90BBFF;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
border: 1px solid #000000;
text-align: left;
padding-left: 7px;
}

